{{ define "about" }}
<div class="about">
    <h2 style="font-family: 'Special Elite', cursive;align-items: center;">About</h2>
    <span style="text-align: right;"><a href="/">⬅back to index</a></span>


    <p>This website generates something, and depending on how loose your definition of 'poetry' is, it may indeed generate 'poetry'.</p>

    <p>This app started as a weird google hole I used to climb in for fun where I would google 'How to learn English', but translated into other languages to see what language learning materials looked like if you only knew the language being taught and not the language it was being taught <em>in</em>.</p>

    <p>Eventually I came across a website which claimed to have the '1000 most common English phrases' and included their Chinese translation. After looking at the phrases I decided quickly that they were not the most common phrases by any stretch of the imagination and indeed some of them have probably never been spoken in English conversation at all. </p>

    <blockquote>
	<ul>
	    <li><p>I smelled a smell of cooking. <br/> 我聞到了燒菜做飯的味道。</p></li>
	    
	    <li><p>He is commonly supposed to be foolish. <br/> 他是公認的傻瓜。</p></li>
	    
	    <li><p>How can I climb up that wall! I wish I were a bird!<br/> 我怎麼能夠爬得上那堵牆?我要是一隻鳥就好了!</p></li>
	</ul>
    </blockquote>

    <p>Some of the phrases were pretty boring factual stuff.</p>

    <blockquote>
	<ul>
	    <li><p>Most of the earth's surface is covered by water.  <br/>  大部分的地球表面被水覆蓋著。</p></li>
	    
	    <li><p>The eggs are sold by the dozen.<br/> 雞蛋按打賣。</p></li>
	</ul>
    </blockquote>

    <p>But, some of them were interesting.</p>

    <blockquote>
	<ul>
	    <li><p>My false teeth are stuck to it.<br/> 我的假牙還在上邊呢!</p></li>
	    
	    <li><p>Love me, love my dog. <br/>  (諺語)愛屋及烏。</p></li>
	    
	    <li><p>This is by far the largest cake in the world. <br/>  這是目前世界上最大的蛋糕了。</p></li>
	</ul>
    </blockquote>

    <p>I got the notion that if you picked any random four of these phrases, you might get something unintentionally poetic, funny or at least entertaining enough to make us forget about the horror of existence for the briefest moment.</p>

    <p>For example:</p>



    <blockquote>

	<ul>
	    <li>How ever you may work hard, the boss will not be fully satisfied.</li>
	    <li>He drives more carefully than you.</li>
	    <li>He owes my uncle $100</li>
	    <li>The brain needs a continuous supply of blood.</li>
	</ul>
    </blockquote>

    <blockquote>
	<ul>
            <li>He had to choose between death and dishonor.</li>
            <li>I can't help eating sweets whenever they are in my presence.</li>
            <li>The price just covers the cost.</li>
            <li>After a pause he continued his story</li>
	</ul>
    </blockquote>
    



    <p>And so, here it is. It is a bit silly, I know - but it was fun to make.</p>
    <p>Feel free to email me any questions, thoughts or comments : ringeisen@gmail.com</p>
</div>
{{end}}
