
{{define "base"}}
<!DOCTYPE html>
<html lang="en">

    <head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>✌️poetry✌️</title>
	<script src="https://unpkg.com/htmx.org@1.6.1"></script>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Special+Elite&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/static/style.css">
	<script type="text/javascript" src="/static/scripts.js"></script>
    </head>

    <body>
	<div class="topinfo" style="font-size:x-large">
	    <h1>Random "Poetry" Generator</h1>
	    <p>Click on a poem for a permalink.</p>
	    <div class="container">
		<a href="/about"><h4 class="item">About</h4></a>

		<a href="/list"><h4 class="item">All Lines</h4></a>
	    </div>
	    <div id="about" style="display: none;">Some Text</div>
	</div>
	<div class="main" hx-get="/mc" hx-trigger="load">
	</div>  
	
    </body>

</html>
{{end}}
