
{{block "one_poem" . }}
<!DOCTYPE html>
<html lang="en">

    <head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>✌️poetry✌️</title>
	<script src="https://unpkg.com/htmx.org@1.6.1"></script>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Special+Elite&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/static/style.css">
	<script type="text/javascript" src="/static/scripts.js"></script>
    </head>

    <body>
    <div class="box" style="background-color: rgb({{.Color.R}},{{.Color.G}},{{.Color.B}});">


    <ul onclick="showBar('{{ .CodeString }}')">
      {{ range .EnglishLines }}
        <li>{{.}}</li>
      {{ end }}
    </ul>
    <div class="info" style="display: none;" id="{{ .CodeString }}">
	<a href="/poem/{{.CodeString}}">permalink</a>
        
    </div>

    </div>
    
    </body>

</html>
{{end}}
