{{ block "ten_poems" . }}
{{$length := len .}}
{{range $i, $line := . }}

{{ if eq $i (sub $length 1) }}
<div hx-get="/mc" hx-trigger="revealed" hx-swap="afterend" class="box" style="background-color: rgb({{.Color.R}},{{.Color.G}},{{.Color.B}});">

    {{ else }}

    <div class="box" style="background-color: rgb({{.Color.R}},{{.Color.G}},{{.Color.B}});">

    {{end}}

    <ul onclick="showBar('{{ .CodeString }}')">
      {{ range .EnglishLines }}
        <li>{{.}}</li>
      {{ end }}
    </ul>
    <div class="info" style="display: none;" id="{{ .CodeString }}">
    <a href="/poem/{{.CodeString}}">permalink</a>
            
    </div>

    </div>
  {{end}}
{{ end }}
